// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner {
  background-size: 100% auto;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.category-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 16px 16px;
}

.recipe-preferences-container {
  margin: 0 200px;
}

.difficulty-preferences{
  display: flex;
  justify-content: space-around;
}

.category-preferences{
  display: flex;
  justify-content: space-around;
}

.form-check {
  padding: 0px 20px;
  border-radius: 5px;
  color: blue;
  background-color: white;
  border: 2px solid blue;
  font-weight: bold;
  opacity: 0.4;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: blue;
  color: white;
  opacity: 1;
  }
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.difficulty-buttons {
  margin: 10px 400px;
  display: flex;
  justify-content: space-around;
}

.search {
  margin: 0 auto;
}

.search-input {
  display: block;
  margin: 0 auto;
}
